<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>Purchase Tracker</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/styles.css" />
</head>
<body>
	<div class="container">
		<div class="card center">
			<div class="hero-line">Available</div>
			<div class="hero-line">
				<span id="masked" style="cursor:pointer"><span class="gradiented">* * *</span></span>
				<span id="revealed" class="hidden" style="cursor:pointer"><span class="gradiented"><%= allowedByTodayFormatted %></span></span>
			</div>
			<!-- <div class="hero-line">Till <%= cycleEndHuman %></div> -->
			<br>
			<div class="actions">
				<a class="btn" href="/spend">Spend</a>
			</div>
		</div>
	</div>
	<script src="/main.js"></script>
</body>
</html>
